.conmmunity h3{
    border-bottom: 1px solid black;
    margin :0 2px 40px;
}
.conmmunity h3:after{
    
    background: #e74c3c;
    content: "";
    display:block;
    width:160px;
    height: 3px;
    margin-top: 8px; 
    
}
.community-img{
     background-color:#f8f9fa;
     float: left;
      padding: 10px; 
      width: 100% ;
                            
}
.community-text-img{
    width: 70px; height: 70px; 
    background-color:yellow;
     border-radius: 50px;
     float: left; 
     margin-left: 7px;
     margin-top: 9px;
}
.communityText{
    
    float: left; background-color: ""; width: 120px; 
    margin-left: 9px;
}