.profile-container{
    width: 130px; height: 130px; 
    background-color:blue;
     border-radius: 100px;
     float: left; 
     margin-left: 52px;
     margin-top: 9px;
}
.profile-head{
    background-color:#f8f9fa;
    float: left;
     padding: 10px; 
     width: 100% ;
}
.bio-container{
    margin-left: 190px;
    margin-top: 15px;
    line-height: 1.5;
}
.txtbold{
    font-weight: 600;
}