.header{
    
    height: 80px;
    background-color: black;
    border-bottom: 5px solid green;
    margin-bottom: 20px;
   
}
/* .header-img{
    height: 25px !important;
    margin-top: 5px !important;
    
} */
.remove-space{
    margin:0 ! important;
padding:0 ! important;
}
li{ 
    list-style: none; 
    padding: 4px;
} 
.arrow-img{
    width: 8%;
    height: 50%;
}
      
 
h4.toptext {
    margin-top: 20px;
}